
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing:	border-box;
    font-family: Playwrite VN;
}

html,body {
    height:	100%;
    Width:	100%;
    
}

.container{
    border: 5px solid rgb(111, 112, 181);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
   
}

.top_header{
    border: 5px solid rgb(207, 16, 16);
    height: 20px;
    width: 100%;
    background-color: rgb(112, 214, 180); 
}

.list_items{
    height: 50px;
    list-style-type: none;
    background-color: rgb(231, 228, 141);
    gap:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list_items>li a{
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 200px;
}

.Hero_Section{
    height: 80%;
    width: 100%;
    border: 3px solid rgb(87, 102, 30);
    background-color:rgb(16, 205, 117);
    display: flex;
    justify-content:space-around;
    align-items:center;
    
}   

.Hero_Section div{
    background-color:rgb(208, 122, 60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero_Section .img1{
    height: 400px;
    width: 350px;
    overflow: hidden;

}

.Hero_Section .img2{
    height: 400px;
    width: 350px;
    overflow: hidden;

}
.Hero_Section .img3{
    height: 400px;
    width: 350px;
    overflow: hidden;

}
.Hero_Section .img4{
    height: 400px;
    width: 350px;
    overflow: hidden;

}

.Hero_Section img{

    height: 380px;
    width: 320px;
    /* border: 2px solid darkblue;    */
    
}

.Hero_Section div:hover img{
    height: 400px;
    width: 350px;
    transition: 0.5s all; 
}

.footer p{
    color: rgb(17, 18, 18);
    height: 120px;
    text-align: center;
    margin-top: 5px;  
    background-color: rgb(201, 151, 151);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes example {
    from {background-color: rgb(229, 91, 91);}
    to {background-color: yellow;}
  }


